$(".ingredient-form").html("<h4>New Ingredient</h4>" +
  "<%= escape_javascript render('form') %>");

$('#new_ingredient').submit(function (){
 $.post($(this).attr('action'), $(this).serialize(), null, "script");
 return false;
});
