<div class="row">
  <div class="col s6 offset-s3">
    <%= form_tag import_ingredients_path, id:  "import-form" do %>
      <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <%= text_field_tag :url, nil, placeholder: "Enter recipe URL", class: "center-text" %>
            </div>
          </div>

          <div class="row">
            <div class="col s6 offset-s3 center-text">
              <%= button_tag(class: "btn waves-effect waves-light", id: "import-ingredients-btn") do %>
                Add Ingredients
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
