/*
*= require material_icons
*/

@import "materialize";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';


// .body {
//   background-image: image-url('/assets/images/sunset.jpg');
// }
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(image-path('sunrise.jpg'));
  opacity: 0.5;
}

.title {
  position: relative;
}

.badge.quantity {
  float: left;
  margin-left: 0;
  margin-right: 14px;
}

.ingredient-btns {
  text-align: right;
}

.field {
  text-align: left;
}

.ingredient-row:hover {
    background-color: #ddd;
}

#ingredientModal {
  width: 500px;
}

.edit-ingredient-btn {
  color: black;
}

.center-text {
  text-align: center;
}

.validation-error {
  color: #26a69a;
}
